/*SPANS THE BACKGROUND IMAGE WITH THE BROWSER size:  */
body {
	color: black;
	font-family: exo;
	 background: url("giphy.gif") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.contact {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#current {
  font-size: 25px;
  display: block;
  padding: 20px;
  margin: 20px;
}

h1, h2, h3, p {
  background-color: white;
}

h1 {
	font-size: 45px;
}
h2 {
	font-size: 30px;
  text-align: center;
}

h3 {
  font-size:25px;
  text-align: center;
}

p {
  margin: 20px;
  font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: gray;
  position:sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: darkblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

table {
  border: 2px solid gray;
  border-collapse: collapse;
  width: 50%;
  background-color: white;
}

th,td {
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
}

th {
  background-color: lightgray;
}

